@media (max-width: 1024px) {
  .showcase {
    &__text {
      h1 {
        font-size: 6rem;
      }
    }
  }

  .features {
    &__list {
      grid-column-gap: 2em;
    }
  }

  .stats {
    &__headingText {
      font-size: 4.5rem;
    }

    &__itemValue {
      font-size: 2.5rem;
    }
  }

  .pricing {
    &__cardList {
      margin: 0 2em;
    }

    &__cardValue {
      margin: .75em 0;
      font-size: 2rem;
    }
  }
}

@media (max-width: 768px) {
  .site-header {

    &__nav {
      visibility: hidden;
      position: absolute;
      background: white;
      left: 1em;
      right: 1em;
      top: 1em;
      padding: 1em;
      border-radius: 10px;
      box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);
      flex-direction: column;
      width: auto;
    }

    &__openNav, &__navClose {
      font-size: 1.5rem;
    }

    &__navClose {
      position: absolute;
      right: 1em;
    }

    &__nav ul {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 2em;
      margin-bottom: 1em;
    }

    &__auth {
      text-align: center;
    }
  }

  .showcase {
    .container {
      grid-template-columns: 1fr;
    }

    &::before {
      width: 100%;
      height: 55%;
    }

    &::after {
      content: '';
      height: 3em;
      width: 100%;
      position: absolute;
      bottom: 43%;
      background: white;
      transform: skewY(-4deg);
      z-index: -10;
    }

    &__text {
      h1 {
        color: black;
        text-align: center;
        font-size: 4em;
      }
    }
  }

  .features {
    &__heading {
      font-size: 2rem;
      text-align: center;
    }

    &__list {
      grid-template-columns: 1fr;
      grid-row-gap: 2em;
    }
  }

  .stats {
    &__heading .container {
      grid-template-columns: 1fr;
    }

    &__headingText {
      font-size: 3em;
      text-align: center;
    }

    &__itemValue {
      font-size: 1.5rem;
    }

    &__itemName {
      font-size: 1rem;
    }
  }

  .languages {
    &__list {
      grid-gap: 1em;
    }
  }

  .pricing {
    &__cards {
      grid-template-columns: 1fr;
      grid-row-gap: 3em;
    }
  }

  .docs {
    .container {
      grid-template-columns: 1fr;
    }

    button {
      margin: 0;
    }

    &__sidebar {
      visibility: hidden;
      position: fixed;
      background: white;
      padding: 1em;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      z-index: 10;
    }

    &__mainInstaller {
      grid-template-columns: 1fr;
      grid-gap: 0;
    }

    &__cardButtons {
      text-align: center;

      .btn:first-child {
        margin-bottom: .75em;
      }
    }
  }
}

