.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 .75em;
}

.btn {
  border: none;
  padding: 10px 30px;
  background: $primary-color;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  display: inline-block;
  transition: transform .3s;
  font-size: .75rem;

  &:hover {
    transform: scale(1.05);
  }

  &:active {
    transform: scale(.9);
  }

  &--outline {
    background: none;
    border: 2px solid $gray-1;
    color: $gray-1;
  }
}

.text-center {
  text-align: center;
}

@for $i from 1 through 7 {
  .text-size-#{$i} {
    font-size: #{$i * 0.75}rem;
  }
}

.card {
  padding: 1em;
  background: white;
  border-radius: 10px;
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.2);
}
