.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 .75em;
}

.btn {
  border: none;
  padding: 10px 30px;
  background: $primary-color;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  display: inline-block;
  transition: transform .3s;
  font-size: .75rem;

  &:hover {
    transform: scale(1.05);
  }

  &:active {
    transform: scale(.9);
  }

  &--outline {
    background: none;
    border: 2px solid $gray-1;
    color: $gray-1;
  }
}

.text-center {
  text-align: center;
}

@for $i from 1 through 7 {
  .text-size-#{$i} {
    font-size: #{$i * 0.75}rem;
  }
}

.card {
  padding: 1em;
  background: white;
  border-radius: 10px;
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.2);

  &--outline {
    border: 1px solid $gray-3;
    box-shadow: none;
  }
}

.alert {
  background: $gray-2;
  border: 1px solid $gray-3;
  padding: .75em;
  display: flex;
  justify-content: center;
  align-items: center;

  i {
    margin: 0 .75em;
    margin-right: 1em;
  }
}

.menu--active {
  visibility: visible!important;
}

@media (min-width: 769px) {
  .hide-on-md {
    display: none;
  }
}

